.butt {
  display: block;
  height: 50px;
  width: 150px;
  font-size: 30px;
  background-color: rgb(180, 206, 147);
  margin: 0 auto;
}
.input {
  display: block;
  margin: 0 auto;
 

}
.ok {
  height: 25px;
  width: 40px;
  display: block;
  margin: 0 auto;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
  background-color: rgb(107, 60, 60);
}